body{
    margin: 0;
    padding: 0;
    background-color: #454545;
    color: white;
}

.header{
    grid-area:header ;
}
.search{
    grid-area: search;
}

.navbar{
    grid-area:navbar ;
}

.muestreo-juegos{
    grid-area:muestreo-juegos ;
}

.juego-completo{
    grid-area:juego-completo ;
}

.footer{
    grid-area: footer;
}

.contenedor{
    display: grid;

    min-width: 400px; 
    min-height: 100vh;  

    gap: 10px 0px;
    grid-template-rows:60px 400px auto 60px ;
    grid-template-columns:200px 300px 1fr ;

    grid-template-areas: 
    "header search navbar "
    "muestreo-juegos muestreo-juegos muestreo-juegos"
    "juego-completo juego-completo juego-completo "
    "footer  footer  footer ";
}


/*Barra de navegacion buscador*/
.navbar,.header,.search{
    background-color: #269fac;
}

.header{
    display: flex;
    justify-content:space-evenly;
    padding: 12px;
}
.icono-pagina{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header-titulo{
    font-size: 25px;
}

/*Barra de navegacion buscador*/

.search form{
    margin: 10px 10px;
    height: 50px;
    padding: 0 10px;
}

.search form > *{
    height: 30px;
}


/*Barra de navegacion links*/
.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 0%;
}
.navbar ul>*{
    display: inline-block;
    padding: 18px;
    font-size: 21px;
}
.nav-ul-inicio:hover{
    background-color: #20737c;
   }

.nav-ul-juegos:hover{
    background-color: #20737c;
}
.nav-ul-contacto:hover{
    background-color: #20737c;
}

a{
    color: inherit;
    text-decoration: none;
}


/*Lista de juegos horizontal---------------------------------------*/
.muestreo-juegos {
    display: flex;
    justify-content:stretch;
    align-items:center;
    margin: 0 auto;

}

.contenedor-imagenes{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.contenedor-imagenes > * {
    margin: 0 2px;
} 

.contenedor-imagenes > * > *{
    border: 1px solid rgb(0, 0, 0); 
} 

.contenedor-imagenes > * > div{
    background-color: #20737c;
    font-size: 20px;
    text-align: center;
} 

.muestreo-juego-pos-1 img,.muestreo-juego-pos-2 img,
.muestreo-juego-pos-3 img,.muestreo-juego-pos-4 img{
    width: 200px;
    height: 200px;
}
.flecha-izquierda,.flecha-derecha{
    height: 150px;
    width: 40px;
}

.muestreo-juego-pos-1 img:hover{
    width: 250px; 
    height: 250px;
}

.muestreo-juego-pos-2 img:hover{
    width: 250px; 
    height: 250px;
}

.muestreo-juego-pos-3 img:hover{
    width: 250px; 
    height: 250px;
}

.muestreo-juego-pos-4 img:hover{
    width: 250px; 
    height: 250px;
}

/*Juego elegido ------------------------------------------------*/
.juego-completo{
    display: flex;
}

.juego-completo-bloquear{
    width: 90px;
    height: 40px;
    border: 1px solid rgb(231, 13, 13);
    border-radius:10px ;
    text-align: center;
    background-color:#269fac ;
}

.juego-elegido{
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.juego-elegido iframe{
    width: 600px;
    height:600px;
}


/*Footer------------------------------------------------------*/
.footer{
    background-color: #269fac;
}

.informacion-contacto {
    display: flex;
    justify-content: space-around;
}

.informacion-contacto >* {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
}

/*Resultados de busqueda con formulario*/
.resultados-busqueda{
    position: relative;
    color: black;
    top: -30px;
    left: 22px;
    width:182px ;
    background-color: white;
    z-index: 10;
}

.resultados-busqueda ul{
   list-style-type: none;
   padding: 0;
}

