body{
    margin: 0;
    padding: 0;
}

.header{
    grid-area:header ;
}
.search{
    grid-area: search;
}

.navbar{
    grid-area:navbar ;
}

.muestreo-juegos{
    grid-area:muestreo-juegos ;
}

.juego-completo{
    grid-area:juego-completo ;
}

.footer{
    grid-area: footer;
}

.contenedor{
    display: grid;

    min-width: 400px; 
    min-height: 100vh;  

    grid-template-rows:60px 1fr 1fr 60px ;
    grid-template-columns:100px 300px 1fr ;

    grid-template-areas: 
    "header search navbar "
    "muestreo-juegos muestreo-juegos muestreo-juegos"
    "juego-completo juego-completo juego-completo "
    "footer  footer  footer ";
}

.contenedor>*{
    border: 1px solid black;
}


.navbar ul{
    display: flex;
    justify-content: space-around;
}

.muestreo-juegos{
    display: flex;
    justify-content: space-around;
    align-items:center;

}

.muestreo-juegos >*{
    border: 1px solid black;
    padding: 40px;
}


img {
    width: 200px;
}